<!DOCTYPE html>
<html lang="en">
    <style>
        button {font-family: Arial; font-size: 20px;border-radius: 5px}
        #container {text-align: center}
        
    </style>
    <!-- added title to website tab -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello, World!</title>
    </head>
    <body>
        <!-- heading of page centered in Arial -->
        <h1 style="text-align: center; font-family: Arial;">Hello, World!</h1>
        <div id='container'>
            <a href="/login" style="text-decoration:none">
                <button type='button'>login</button>
            </a>
            <a href="/milkis" style="text-decoration:none">
                <button type='button'>milkis</button>
            </a>
        </div>
    </body>
</html>