<!DOCTYPE html>
<html lang="en">
    <!-- any id has this included style -->
    <style>
        button {font-family: Arial; font-size: 20px; border-radius: 5px}
        #container {text-align: center}
    </style>
    <!-- added title to website tab -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello, World!</title>
    </head>
    <body>
        <!-- heading of page centered in Arial -->
        <h1 style="text-align:center; font-family: Arial">This is a picture of milkis</h1>
        <div id="container">
            <!-- image of milkis -->
            <img src="https://cdn.shopify.com/s/files/1/0338/0694/2253/products/LotteMilkisDrinkCanOriginalFlavor8.45oz_front_900x.jpg?v=1650574585" alt='milkis'>
            <br>
            <a href="/" style="text-decoration:none">
                <button type='button'>home</button>
            </a>
        </div>
    </body>
</html>